:root
{
    --clr-1: #a32858;
    --clr-2: #cc425e;
    --clr-3: #ea6262;
    --clr-4: #ffb879;
    --clr-5: white;
}

@property --gradient-angle
{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.about-card
{
    position: relative;
    height: fit-content;
    width: 92%;

    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 3vmin;

    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;

    background-color: #0a0a0a;
    border-radius: 1px;
}

.about-card a
{
    background-image: linear-gradient(#fcef8d, #a32858);
    color: transparent;
    background-clip: text;
}

.about-card a:hover
{
    color: white;
}

.about-card p
{
    position: relative;
    height: 100%;
    width: 50%;
}

.about-card .full-p
{
    width: 100%;
    height: 100%;
}

.about-card .skill-p
{
    width: 25%;
    height: 100%;
}

.about-card::before,
.about-card::after
{
    content: "";
    z-index: -1;
    position: absolute;
    inset: -0.5rem;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-2),
        var(--clr-3),
        var(--clr-4),
        var(--clr-3),
        var(--clr-2));
    border-radius: inherit;
    animation: rotation 5s linear infinite;
}

.about-card::after
{
  filter: blur(3rem);
}

@keyframes rotation
{
    0% { --gradient-angle: 0deg }
    100% { --gradient-angle: 360deg }
}

/* mobile device */
@media (max-width: 850px) {
    .about-card p
    {
        width: 100%;
    }

    .about-card .skill-p
    {
        width: 50%;
        border-top: 1px solid rgba(100, 100, 100, 0.9);
    }
}