.info-container
{
    padding-left: 0%;
    padding-top: 15vmin;
    padding-bottom: 15vmin;

    align-items: center;
    justify-content: center;

    border-style: double;
}

.intro-paragraph, .support-paragraph
{
    position: relative;
    width: fit-content;   

    padding: 5vmin;
    margin-bottom: 0;

    text-align: center;
    word-wrap: break-word;

    font-weight: 100;
    font-size: 22px;
    color: white;
}

.info-container
{
    background-color: transparent;
    border: none;
}

.footer
{
    background-color: transparent;
}

.last-updated
{
    background-color: transparent;
}

.background
{
    background-image: url('/src/images/ud-background-4.jpg');
}