
.nav {
    position: relative;
    z-index: 1;
    height: 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1%;
    padding: 6px 30% 6px 30%;

    background-color: rgba(0, 0, 0, 0.5);
}

.nav-button {

    width: 20%;
    height: 100%;

    font-size: 20px;

    color: white;
    background-color: green;
    
    transition: color 0.18s, background-color 0.18s;
}


.nav-button:hover {
    color: green;
    background-color: white;
}