.post-container
{
    position: relative;
    overflow: auto;

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    

    background: none;
}

.post
{
    position: relative;

    display: flex;
    flex-direction: row;
    gap: 1%;

    width: 100%;
    height: fit-content;

    padding: 10vmin;

    background-color: black;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.post-paragraph
{
    position: relative;
    width: 100%;   

    font-weight: 100;
    font-size: 22px;
    color: white;
    word-wrap: break-word;
}

.video
{
    position: relative;
    width: 50vw;
    height: 40vmin;

    border: 1px solid #cc425e;
}

.info-container
{
    padding-left: 0%;
}

.background
{
    background-image: url('/src/images/ud-background-2.jpg');
}